.mainContainer {
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.sliderCol {
    background-color: #111B54;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 60px;
    h2 {
        font-size: 36px;
        color: #fff;
        font-weight: 400;
        text-align: center;
    }
}

.formCol {
    min-height: 100vh;
    padding: 30px 120px;
    overflow-y: auto;
    overflow-x: hidden;
    h1 {
        font-size: 36px;
        font-weight: 600;
        margin-top: 80px;
        color: #000;
    }
}

.loginLink {
    text-align: center;
    margin-top: 15px;
    color: rgba(0,0,0,0.54);
    a {
        font-weight: 600;
        color: #111B54;
        &:hover {
            text-decoration: none;
            color: #4D8AF0;
        }
    }
}


.linkGroup {
    position: absolute;
    bottom: 20px;
    left: 130px;
    flex-direction: row;
    justify-content: space-between;
    a {
        margin-right: 40px;
        text-decoration: none;
        color: #000000;
        &:hover {
            text-decoration: none;
            color: #000;
        }
    }
}

a.faded {
    color: rgba(0,0,0,0.54);
    &:hover {
        color: rgba(0,0,0,0.54);
    }
}

.sliderWrapper {
    width: 450px;
    margin: auto;
}

.slider {
    margin-top: 40px;
    width: 100%;
}